@model IEnumerable<TestWeb.Models.tbl_Products>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Design)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Warranty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Design)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Warranty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Product_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Product_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Product_ID })
        </td>
    </tr>
}

</table>
